:root {
  --base-color: #000;
  --bg-color: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --base-color: #fff;
    --bg-color: #333;
  }
}

html {
  font-size: (10px/ 16px * 100%);
}

body {
  background-color: var(--bg-color);
  color: var(--base-color);
  font-size: 1.4rem;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
  line-height: 1.45;
  text-rendering: optimizeLegibility;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}
